body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

* {
    webkit-font-smoothing: antialiased;
}

.faq-block {
    margin: 0 auto;
    width: 400px;
}
